:root {
  --primary-bg: #f7f7f7;
  --primary-border: #ccc;
  --primary-white: #fff;
  --primary-hover-bg: #d9d9d9;
  --primary-text: black;
  --primary-button-bg: #ccc;
  --delete-button-color: red;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
}
.bar-container {
  position: relative;
  background-color: var(--primary-bg);
  border-left: 1px solid var(--primary-border);
  border-bottom: 1px solid var(--primary-border);
}
.bar-chart {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  height: 400px;
  gap: 10px;
}
.value-100,
.value-0 {
  position: absolute;
  margin-right: 10px;
}

.value-100 {
  left: -30px;
  bottom: 300px;
}

.value-0 {
  left: -20px;
  bottom: 0;
}
.bar-value {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
  color: var(--primary-text);
}
.bar {
  position: relative;
  width: 20px;
  background-color: var(--primary-hover-bg);
  text-align: center;
  color: var(--primary-white);
  font-size: 12px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
th,
td {
  border: 1px solid var(--primary-border);
  padding: 8px;
  text-align: center;
}
th {
  background-color: var(--primary-hover-bg);
}
tr:nth-child(2n-1) {
  background-color: var(--primary-button-bg);
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='text'],
input[type='number'] {
  width: 80%;
  outline: none;
  border: none;
  text-align: center;
  background-color: transparent;
  padding: 5px;
}
button {
  border: none;
  border-radius: 10px;
  background-color: var(--primary-button-bg);
  margin-right: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.1s ease-in;
}
button:hover {
  background-color: var(--primary-hover-bg);
}
button:active {
  transform: scale(0.98);
  background-color: #bbb;
}
.delete-button {
  background-color: transparent;
  color: var(--delete-button-color);
}
.delete-button:hover {
  background-color: transparent;
}
.addContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
#newId,
#newValue {
  border: 1px solid var(--primary-border);
}
#jsonEditor {
  width: 80%;
  background-color: transparent;
  padding: 5px;
}

/* 좁은 화면에서 레이아웃 붕괴 방지 */
@media (max-width: 600px) {
  .bar-chart {
    flex-wrap: wrap;
    height: auto;
    gap: 5px;
  }

  table,
  textarea,
  input[type='text'],
  input[type='number'] {
    width: 100%;
  }
}
